.container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightpink;
}
 
.container div {
  background-color: lightcoral;
  width: 500px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 40px;
}